SELECT "RUNNING INIT.SQL";

SET GLOBAL general_log = 'ON';
SET GLOBAL general_log_file = '/var/log/mariadb/'

CREATE DATABASE IF NOT EXISTS '${MARIADB_DATABASE}';

CREATE USER IF NOT EXISTS '${MARIADB_USER}'@'%' IDENTIFIED BY '${MARIADB_PASSWORD}';

GRANT ALL PRIVILEGES ON *.* TO '${MARIADB_USER}'@'%' WITH GRANT OPTION;

FLUSH PRIVILEGES;